body {
  background-color: beige;
}

a {
  text-decoration: none;
}

.list {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  gap: 100px;
}

.link {
  font-size: 40px;
  color: #383c2e;
  font-style: italic;
}

.link:hover {
  color: #aaa5f3;
}
